html {
  scroll-behavior: smooth;
}

#home,
#services,
#gallery,
#about {
  scroll-margin-top: 100px; 
}

.hero-txt {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-30px);
  animation: fadeDown 0.5s ease-out 0.4s forwards;
}

.hero-text {
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    animation: fadeUp 0.5s ease-in 0.3s forwards;
}

.text-overlay,
.services-btn {
    opacity: 0;
    animation: fade 0.8s ease-in forwards;
}

@keyframes fadeDown { 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp { 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

